body {
  /* المطلوب الأول هنا */
  text-align: center;
  background-size: cover;
    font-family: 'Cairo';
   
    background-image: url(./img/KuwaitCodesWallpaper.png);
}

/* المطلوب الثاني هنا */
nav {
  display: flex;
  justify-content: center;
  
}
.nav-elements {
  display: flex;
  justify-content: space-between;
  width: 500px;

}

.card {
  /* المطلوب الثالث هنا */
  width: 400px;
  height: 500px;
  background-color: white;
  box-shadow:gray;
  border-radius: 12px;
}

img {
  /* المطلوب الرابع هنا */
  width: 120px;
  height: 120px;
  margin-top: 20px;
  box-shadow: rgb(255, 240, 240);
  border-radius: 50%;
}

.hobbies {
  /* المطلوب السادس هنا */
  justify-content: space-between;
}
.one:hover{
  transform: translate(5px, 5px);
}
.two:hover{
  transform: translate(5px, 5px);
}
.three:hover{
  transform: translate(5px, 5px);
}
.center {
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

html{
  scroll-behavior: smooth;
}
